@charset "UTF-8";
/* Universal styles 🌌 */
/* -> Home <- */
@media screen and (max-width: 870px) {
  body:has(.home) {
    height: auto;
  }
}
body > .home {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 870px) {
  body > .home {
    grid-template-columns: minmax(15%, 20%) 1fr minmax(15%, 22%);
    grid-template-rows: 240px minmax(0, auto) minmax(0, 1fr);
    grid-template-areas: "header header header" "navbar main sidebar" "decobar main sidebar";
    /*  <------------- Header -------------->
    *  <- Navbar -> <- Main -> <- Sidebar ->
    *  <- Navbar -> <- Main -> <- Sidebar ->
    *  <- Decobar-> <- Main -> <- Sidebar -> */
  }
}
@media screen and (max-width: 870px) {
  body > .home {
    grid-template-rows: 340px 230px repeat(auto-fit, minmax(0, 1fr));
    grid-template-areas: "header" "navbar" "decobar" "sidebar" "main";
    /*  <-  Header  ->
    *  <-  Navbar  ->
    *  <-  Decobar ->
    *  <-  Sidebar ->
    *  <-   Main   -> */
  }
}

.home .header {
  grid-area: header;
}
.home .header .body, .home .header .title, .home .header .subtitle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.home .header .body {
  flex: 1 1 auto;
  padding: 3px 3px;
  background-image: var(--img-header-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center;
}
.home .header .body .text {
  flex-direction: column;
  margin: 5px;
}
.home .header .body .text .title, .home .header .body .text .subtitle {
  flex-direction: row;
  flex-wrap: wrap;
}
.home .header .body .text .title span, .home .header .body .text .subtitle span {
  padding: 2px 5px;
  background-color: var(--color-bg-lowop);
  margin: 0;
  user-select: none;
}
.home .header .body .text .subtitle {
  font-size: 16px;
}
.home .header .body .text .title {
  font-size: 32px;
}
.home .main .description, .home .main .description--site, .home .main .experience, .home .main .more-description, .home .main .decorations {
  max-width: 900px;
  margin: 0 auto;
}
.home .main .description, .home .main .description--site .content:first-of-type, .home .main .more-description, .home .main .decorations .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 600px) and (max-width: 870px), (min-width: 1190px) {
  .home .main .description, .home .main .description--site .content:first-of-type, .home .main .more-description, .home .main .decorations .content {
    flex-wrap: nowrap;
  }
  .home .main .description .window, .home .main .description--site .content:first-of-type .window, .home .main .more-description .window, .home .main .decorations .content .window {
    flex: 0 1 auto;
  }
}
.home .main .description {
  flex-direction: row-reverse;
}
.home .main .description img {
  max-width: 250px;
}
.home .main .description .content {
  flex: 0 3 auto;
}
.home .main .description--site video {
  max-width: 350px;
}
.home .main .description--site .content:first-of-type p {
  flex: 0 5 auto;
}
.home .main .description--site .content:last-of-type .window {
  max-width: 600px;
  margin: 0 auto;
}
.home .main .more-description {
  flex-direction: row-reverse;
}
.home .main .more-description img {
  max-width: 200px;
}
.home .main .more-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.home .main .decorations .content {
  flex-direction: row-reverse;
}
.home .main .decorations .content .buttons {
  max-width: 300px;
  margin: 0 auto;
}
.home .main .decorations .save, .home .main .decorations > .buttons {
  max-width: 500px;
  margin: 0 auto;
}
.home .main .decorations .save {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.home .main .decorations > .buttons {
  background-color: var(--color-titlebar);
  padding: 1rem;
}
.home .main .decorations > .buttons code {
  font-family: "uni 05_54";
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-size: 8px;
  color: var(--color-title);
}
.home .main .title {
  text-align: center;
}
.home .main .thoughts {
  margin-bottom: 2rem;
}
.home .main .thoughts .thought {
  border-bottom: 2px solid var(--color-title);
}
.home .main .thoughts .thought:last-child {
  border-bottom: none !important;
}

/* -> About Me <- */
.aboutme .desc, .aboutme .love, .aboutme .dreamer, .aboutme .favorite, .aboutme .playlists, .aboutme .social {
  max-width: 1200px;
  margin: 0 auto;
}
.aboutme .love h2, .aboutme .playlists h2, .aboutme .social h2 {
  text-align: center;
  margin-top: 0;
}
.aboutme .desc, .aboutme .dreamer, .aboutme .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 870px) {
  .aboutme .desc, .aboutme .dreamer, .aboutme .social {
    flex-wrap: nowrap;
  }
}
.aboutme .desc img, .aboutme .dreamer img, .aboutme .social img {
  max-width: 350px;
}
.aboutme .desc {
  flex-direction: row-reverse;
}
.aboutme .desc .content {
  flex: 0 5 auto;
}
.aboutme .desc h1 {
  text-align: center;
}
.aboutme .dreamer ul li {
  margin-bottom: 5px;
}
.aboutme .dreamer .flags {
  display: inline-flex;
  gap: 5px;
  padding: 5px 0;
  font-size: 32px;
}
.aboutme .dreamer .flags span[class$=flag] {
  font-size: 1.5em;
}
.aboutme div[class$="--list"] {
  margin: 1rem 0;
}
.aboutme div[class$="--list"] p {
  font-size: 8px;
  margin: 1rem;
}
.aboutme div[class$="--list"] img {
  width: 200px;
}
.aboutme div[class$="--list"] .body {
  display: flex;
  gap: 1rem;
}
.aboutme .music--list .body {
  padding: 1.5rem 130px 1.5rem 1rem !important;
}
.aboutme .music--list .music {
  position: relative;
  transition: box-shadow 0.15s, transform 0.3s, left 0.3s, margin-right 0.3s;
}
.aboutme .music--list .music .disc {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.aboutme .music--list .music:hover {
  box-shadow: 0 0 8px 5px black;
  transform: translateY(-10px);
  margin-right: 130px;
}
.aboutme .music--list .music:hover:last-child {
  margin-right: 0;
}
.aboutme .music--list .music:hover .disc {
  display: block;
  left: 45% !important;
  animation: spin 3s linear infinite;
  filter: drop-shadow(0px 0px 8px black);
}
.aboutme .playlists .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.aboutme .playlists .content .window {
  flex: 1 1 450px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.post--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: left;
  gap: 5px;
}
@media screen and (max-width: 512px) {
  .post--list {
    justify-content: center;
  }
}
.post--list .post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
  padding: 10px;
  text-decoration: none;
  width: 120px;
}
.post--list .post:hover {
  color: var(--color-link-hover);
  background-color: var(--color-wbg);
  cursor: pointer;
}
.post--list .post:active {
  outline: 2px dotted var(--color-fg);
}
.post--list .post img {
  width: 100px;
  height: 100px;
}
.post--list .post .description {
  display: flex;
  flex-direction: column;
}
.post--list .post .description span {
  overflow-wrap: break-word;
  text-align: center;
}
.post--list .post .description .title {
  font-size: 18px;
}
.post--list .post .description .date {
  font-size: 8px;
}

.post--single {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 1rem;
}
.post--single .content {
  max-width: 700px;
  margin: 0 auto;
}
.post--single .titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.post--single .titlebar .date {
  margin: 0;
}

.cameraroll .main .title {
  margin: 1rem 0;
}
.cameraroll .main .title h1 {
  text-align: center;
}
.cameraroll .main .photos:has(div:nth-child(5)), .cameraroll .main .videos:has(div:nth-child(5)) {
  column-count: 1;
  column-gap: 1rem;
}
@media screen and (min-width: 550px) {
  .cameraroll .main .photos:has(div:nth-child(5)), .cameraroll .main .videos:has(div:nth-child(5)) {
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .cameraroll .main .photos:has(div:nth-child(5)), .cameraroll .main .videos:has(div:nth-child(5)) {
    column-count: 3;
  }
}
.cameraroll .main .photos:has(div:nth-child(5)) > div, .cameraroll .main .videos:has(div:nth-child(5)) > div {
  width: 100%;
  display: inline-block;
  margin: 0 0 1rem;
}
.cameraroll .main .photos:not(:has(div:nth-child(5))), .cameraroll .main .videos:not(:has(div:nth-child(5))) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.cameraroll .main .photos:not(:has(div:nth-child(5))) > div, .cameraroll .main .videos:not(:has(div:nth-child(5))) > div {
  max-width: 400px;
}
.cameraroll .main .photos > div, .cameraroll .main .videos > div {
  min-width: 190px;
}
.cameraroll .main .photos > div p, .cameraroll .main .videos > div p {
  margin: 0.5rem 0;
}
.cameraroll .main .body > h1, .cameraroll .main .body > .window {
  max-width: 1200px;
  margin: 1rem auto;
}
.cameraroll .main p, .cameraroll .main h2 {
  text-align: center;
}

.focus {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-lowop);
}
.focus:has(img:nth-child(3)) img {
  margin-bottom: 1rem;
  max-height: 40% !important;
}
.focus img {
  width: auto;
  max-height: 80%;
  max-width: 90%;
}
.focus p {
  text-align: center;
  margin: 0.5rem 0;
}
.focus > p {
  max-width: 40%;
}

:root {
  --color-bg: rgb(21, 21, 21);
  --color-bg-lowop: rgba(21, 21, 21, 0.85);
  --color-wbg: rgb(16, 14, 15);
  --color-titlebar: rgb(12, 10, 10);
  --color-fg: rgb(240, 226, 243);
  --color-link-hover: rgb(179, 203, 242);
  --color-link-hover-lowop: rgba(179, 203, 242, 0.7);
  --color-title: rgb(234, 187, 185);
  --color-title-lowop: rgba(234, 187, 185, 0.7);
  --img-bg: url("assets/background-tile.gif");
  --img-header-bg: url("assets/banner.jpg");
  letter-spacing: -0.5px;
}

@font-face {
  font-family: "uni 05_53";
  src: url("assets/fonts/uni0553-webfont.eot") format("embedded-opentype"), url("assets/fonts/uni0553-webfont.ttf") format("truetype"), url("assets/fonts/uni0553-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "uni 05_53";
  src: url("assets/fonts/uni0563-webfont.eot") format("embedded-opentype"), url("assets/fonts/uni0563-webfont.ttf") format("truetype"), url("assets/fonts/uni0563-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "uni 05_54";
  src: url("assets/fonts/uni0554-webfont.eot") format("embedded-opentype"), url("assets/fonts/uni0554-webfont.ttf") format("truetype"), url("assets/fonts/uni0554-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background: var(--img-bg) repeat;
  color: var(--color-fg);
  font-family: "uni 05_53";
}

div {
  box-sizing: border-box;
}

img, video {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}
ul li::before {
  content: "→ ";
  color: var(--color-title);
  font-size: 1em;
  padding: 0 0 0 0.5em;
}

::selection {
  background-color: var(--color-link-hover-lowop);
  color: var(--color-bg);
}

:focus-visible {
  outline: 2px dotted var(--color-fg);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-wbg);
}

::-webkit-scrollbar-track:horizontal {
  background-color: var(--color-titlebar);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-title);
}

.navbar .window .body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.window {
  background-color: var(--color-bg);
  padding: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* cool window border */
  box-shadow: inset -6px -6px var(--color-bg), inset 6px 6px var(--color-bg), inset 8px 8px var(--color-title), inset -8px -8px var(--color-title);
}
.window .body {
  padding: 1rem;
  overflow-y: overlay;
}
.window .window {
  background-color: var(--color-wbg);
  box-shadow: inset -6px -6px var(--color-titlebar), inset 6px 6px var(--color-titlebar), inset 8px 8px var(--color-fg), inset -8px -8px var(--color-fg);
}
.window .window .body {
  padding: 0.5rem;
}
.window .window .window {
  background-color: var(--color-bg);
  box-shadow: inset -6px -6px var(--color-bg), inset 6px 6px var(--color-bg), inset 8px 8px var(--color-fg), inset -8px -8px var(--color-fg);
}
.window .titlebar {
  padding: 8px;
  background-color: var(--color-titlebar);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
}
.window .titlebar .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.window .titlebar .buttons button {
  margin: 0 2px;
  align-self: center;
  height: 20px;
  width: 20px;
  padding: 0 0 4px 2px;
  line-height: 0;
  font-size: 10px;
}

button {
  font-size: 18px;
  padding: 0 0 4px 0;
  line-height: 0;
  height: 25px;
  width: 25px;
  align-self: center;
  margin: 0 2px;
  font-family: "uni 05_53";
  color: var(--color-fg);
  background-color: var(--color-bg);
  user-select: none;
}

.lesbian-flag {
  display: inline-block;
  height: 1em;
  aspect-ratio: 3/2;
  line-height: 1;
  border-radius: 10px;
  vertical-align: middle;
  border: 2px solid var(--color-fg);
  box-shadow: inset 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.2666666667);
  background: linear-gradient(to bottom, #c64425 0% 20%, #d38534 20% 40%, #e9d0b6 40% 60%, #d96596 60% 80%, #9e344e 80% 100%);
}

.transfem-flag {
  display: inline-block;
  height: 1em;
  aspect-ratio: 3/2;
  line-height: 1;
  border-radius: 10px;
  vertical-align: middle;
  border: 2px solid var(--color-fg);
  box-shadow: inset 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.2666666667);
  background: linear-gradient(to bottom, #7996d0 0% 14.3%, #d7a1b9 14.3% 28.6%, #d986ae 28.6% 42.9%, #d06897 42.9% 57.1%, #d986ae 57.1% 71.4%, #d7a1b9 71.4% 85.7%, #7996d0 85.7% 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  color: var(--color-fg);
  transition: color 0.15s;
}
a:hover {
  color: var(--color-link-hover);
}

p, a {
  font-size: 16px;
}

body > .home, body > .aboutme, body > .journal, body > .links, body > .cameraroll {
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

body > .notfound {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  margin: 2rem auto;
  max-width: 1200px;
}
@media screen and (max-width: 870px) {
  .divider {
    border-bottom-style: dashed;
    border-bottom-width: 6px;
  }
}

.main {
  grid-area: main;
}
.main h1, .main h2 {
  margin-top: 0;
}

.navbar {
  grid-area: navbar;
}
.navbar .body h3 {
  text-align: center;
}
.navbar .body :first-child {
  margin-top: 0;
}

.sidebar {
  grid-area: sidebar;
}
.sidebar .body :first-child {
  margin-top: 0;
}

.decobar {
  grid-area: decobar;
}
.decobar .body {
  padding: 1rem;
}

.decobar .decorations, .decobar .content, .decobar .comments, .sidebar .decorations, .sidebar .content, .sidebar .comments {
  max-width: 310px;
  margin: 0 auto;
}
.decobar .decorations, .sidebar .decorations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decorations .blinkies, .decorations .stamps, .decorations .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0.5rem 0;
}
.decorations .blinkies img, .decorations .stamps img, .decorations .buttons img {
  image-rendering: pixelated;
}
.decorations .blinkies img {
  max-width: 150px;
}
.decorations .stamps img {
  max-width: 99px;
}
.decorations .buttons img {
  max-width: 88px;
}
.decorations > img {
  width: auto;
  max-width: 50%;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.quote img {
  max-width: 300px;
}
.quote h3 {
  text-align: center;
}
.quote .content p:last-child {
  text-align: right;
  font-size: 8px;
}

.veros-hearts {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAi1JREFUeF7tnFtOAzEQBJNLcCPEmRE34hLwyy5SSiP32Psofidu2uUex+soeT78ixJ4RtUUewg0HAKBCjRMICxnQgUaJhCWM6ECDRMIy5lQgYYJhOVM6Gqg31+fP389vL1/bBaF6uSfxlN9tX45oTQhqq+eMPmjOvkXaLjDBDob6L4FKPJUpz2XxlN9tv7eDyZUoFtk+wUTKEUc6gLdHfMGeT6Gge4NVLcAMnA1fdxDrzbh7kAIdHDPLL8pmdDtozXtweWEEuDqnkkGRx8FZ+sLFC57aEGGW96EvkZsQo+W0GpLXP31wwm9OqDq/ARaJQavF+jRgHafE8Pz/SeX9j+c0LShboDdxz6BHu3YZEK3mS8ntPv6q7vlu/0L9OrXdyY0vMK3A0rHDgKSvi+l/9e9Z7Zf39EEBQqEZieAFmx1B5Xf5VcbvhzQoyeSgHf7Lye02xABGa13+xdo+Ngn0NVA6U1p9rEovQWM+i8nVKCvl1Cg3oeONvl2fPo+dzih2emdX02g4TUUqEDDBMJywwlNb+qzj2Vp/wK927EpnaDuDjChqxPaff11dv1yQs8+4W7/Al19fde9wmfXx4RWJ0jn5NnfZ+/2X/5cvtvQ2fUFSi00uKfa8kXA9BEJAq0+WYw+2dB4qhMfGk910hfo7F/FMaHNX++mlqA6tQyNp/pq/XLLk+G71wUaToBABRomEJYzoQINEwjLmVCBhgmE5UyoQMMEwnImVKBhAmG5X+R6gHNisHzXAAAAAElFTkSuQmCC") 28/28px/0 round;
  border-width: 28px;
  border-style: solid;
}

#HCB_comment_box {
  color: var(--color-fg);
  font-family: "uni 05_53" !important;
  letter-spacing: -0.5px !important;
}
#HCB_comment_box .home-desc a {
  color: var(--color-title) !important;
}
#HCB_comment_box .date {
  font-size: 16px;
}
#HCB_comment_box a:has(img) {
  display: none;
}
#HCB_comment_box #hcb_msg {
  text-align: center;
}
#HCB_comment_box .btn-secondary {
  background: none !important;
  color: var(--color-title) !important;
  padding: 1rem !important;
  width: 100%;
}
#HCB_comment_box button {
  width: auto;
  height: auto;
  border: none !important;
  font-family: "uni 05_53" !important;
  line-height: normal !important;
}
#HCB_comment_box #hcb_form #hcb_form_name_container {
  display: flex;
}
#HCB_comment_box #hcb_form #hcb_form_name_container input, #HCB_comment_box #hcb_form #hcb_form_name_container textarea {
  width: 100% !important;
}
#HCB_comment_box #hcb_form input, #HCB_comment_box #hcb_form textarea {
  font-family: "uni 05_53" !important;
  font-size: 16px !important;
  color: var(--color-fg);
  background-color: transparent;
  border: solid 3px var(--color-fg);
  resize: none;
}
#HCB_comment_box #hcb_form #replying_to_container {
  margin-left: 1rem;
}
#HCB_comment_box #comments_list .comment {
  margin-bottom: 1rem !important;
}
#HCB_comment_box #comments_list .comment .likes {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#HCB_comment_box #comments_list .comment .likes img {
  filter: brightness(3);
  width: 20px;
}
#HCB_comment_box #comments_list .comment .likes span {
  font-size: 8px;
}
#HCB_comment_box #comments_list .comment .hcb-comment-body {
  font-size: 16px !important;
}
#HCB_comment_box #comments_list b, #HCB_comment_box #comments_list .hcb-comment-tb button {
  font-weight: normal !important;
}
#HCB_comment_box #comments_list .hcb-comment-tb button {
  color: var(--color-title);
  padding: 0.5rem;
}

body > .aboutme, body > .journal, body > .links, body > .cameraroll {
  display: grid;
  gap: 1rem;
  grid-template-rows: 230px minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "navbar" "main";
  /*  <- Navbar ->
  *  <-  Main  ->  */
}
body > .aboutme .main, body > .journal .main, body > .links .main, body > .cameraroll .main {
  grid-area: main;
}
body > .aboutme .navbar, body > .journal .navbar, body > .links .navbar, body > .cameraroll .navbar {
  grid-area: navbar;
}
body > .aboutme .decobar, body > .journal .decobar, body > .links .decobar, body > .cameraroll .decobar {
  display: none;
}
@media screen and (min-width: 870px) {
  body > .aboutme, body > .journal, body > .links, body > .cameraroll {
    grid-template-rows: minmax(0, auto) minmax(0, 1fr);
    grid-template-columns: minmax(15%, 22%) minmax(620px, 1fr);
    grid-template-areas: "navbar main" "decobar main";
    /*  <- Navbar -> <- Main ->
    *  <- Decobar-> <- Main -> */
  }
  body > .aboutme .decobar, body > .journal .decobar, body > .links .decobar, body > .cameraroll .decobar {
    display: block;
  }
}
