/* -> Home <- */
.home
    .header
        grid-area: header
    .navbar
        grid-area: navbar
    .main
        grid-area: main
    .sidebar
        grid-area: sidebar
    .title
        text-align: center
    .description
        display: flex
        flex-direction: row-reverse
        justify-content: space-around
        align-items: center
        gap: 1em
        img
            width: 150px
    .interests
        display: flex
        align-items: center
        justify-content: center
        gap: 1em
        img
            width: 150px
        ul
            margin: 0
            padding: 0
            list-style: none